In [1]:
import json
import pandas as pd

In [2]:
json_file = './AIDS.json'

with open(json_file) as datafile:
    data = json.load(datafile)

In [3]:
json_file_df = pd.DataFrame(data['data'])
json_file_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,1,89E8154D-8124-40C0-9EF3-CF335E52AEA6,1,1245318279,296892,1245318312,296892,None,Afghanistan,0.3,<10.0,<100.0
1,2,B3A4ABF5-1931-4E3D-B1C4-60F3F9A64DA5,2,1245318279,296892,1245318312,296892,None,Albania,0.0,None,None
2,3,18744DA8-A647-46B6-AC51-417B151F3796,3,1245318279,296892,1245318312,296892,None,Algeria,0.0,<10.0,82
3,4,A15D65D4-530C-449C-9924-6790DA6D9A74,5,1245318279,296892,1245318312,296892,None,Angola,2.2,188,3281
4,5,54EAA2FD-313F-4A3A-B261-8120BDAD8E35,6,1245318279,296892,1245318312,296892,None,Antigua and Barbuda,1.0,None,None